@charset "UTF-8";

:root{
    --font--dm-sans: 'DM Sans', sans-serif;
    --color-cinza: #b3b3b3;
    --color-preto: #121212;
    --color-cinza-intermediario: #242424;
    --color-cinza-diferente: #a7a7a7;
}

.main-container{
    max-width: 80vw;
    height: 20vh;
    margin-left: 320px;
    margin-right: 56px;
    position: static;

}


.header__login .login-cel{
    display: none;
}

.header__navigation .menu{
    display: none;
}

.header__navigation .logo-mini{
    display: none;
}


.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    
}

.header__navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.header__navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;

}

.header__login{
    display: flex;
    align-items: center;
    cursor: pointer;

}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    border-radius: 40px;
    background-color: var(--color-cinza-intermediario);
    border: 1px solid transparent;
    position: relative;
    left: 13%;

}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe{
    color: var(--color-cinza-diferente);
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
    position: relative;
    left: 92%;
    cursor: pointer;


}

.header__login .login{
    width: 100px;
    height: 48px;
    color: black;
    font-size: 16px;
    border: none;
    font-weight: 700;
    border-radius: 40px;
    position: relative;
    left: 98%;
    cursor: pointer;

}

.conteudo{
    margin-left: 340px;
    margin-right: 56px;
    position: fixed;
}

iframe{
    width: 70vw;
    height: 450px;
}

